.signup-container {
  background: url(../../assets/background.png);
  background-size: cover;
}

.signupbox {
  width: 320px;
  height: 420px;
  background: #fff;
  background: url(../../assets/background.png);
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  margin-left: auto;
  margin-top: 400px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.signupbox input {
  width: 100%;
  margin-bottom: 20px;
}

.signupbox input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: #e0e0e0;
  padding-left: 5%;
}

.signupbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #00cc66;
  color: #fff;
  font-size: 18px;
  margin-left: 7px;
}

.signupbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.signupbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #00cc66;
}

.signupbox a:hover {
  color: #ffc107;
}

.signinlink {
  text-align: center;
}
