.shopping-cart-container {
  margin: auto;
  width: 90%;
  height: 30%;
  font-size:3.0vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10%;

}

.shopping-cart-item {
  display: flex;
  justify-content: space-between;
  line-height: 58px;
  line-height: 100%;
  width: 90%;
  align-items: center;
  margin-bottom:2%;
}

.shopping-cart-body{
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-style: regular;
  fill: solid;
  margin: auto;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom:2%;
}

.shopping-cart-counter {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:20%;
}

.shopping-cart-heading {
  margin-bottom: 3%;
}

.shopping-cart-heading h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1%;
}

.shopping-image-box{
  width: 15%;
  height: 20%;
  text-align: center;
 }

.shopping-cart-item-name{
  font-style: Semi Bold;
  color: #000000;
  height:20%;
}

.btn {
  height:100%;
  width: 12%;
  border-radius: 100%;
  background-color: #FF3366;
  display: flex;
  justify-content: center;
  font-family: ‘Open Sans’;
  font-size:20px;
  font-weight: 900;
  color:#FFFFFF;
  cursor: pointer;
  margin:0.1vh;
}

.btn:hover {
  background-color:#FF3366;
  cursor: pointer;
}

.shopping-cart-checkout{
  display: flex;
  background-color: #9BC0F1;
  padding: 20px 40px;
  color: black;
  border-radius: 15px;
  font-family: Inter;
  font-style: regular;
  fill: solid;
  bottom: 550px;
  right: 150px; 
  fill: solid;
  align-self:flex-end;
}

.shopping-cart-checkout:hover {
  background-color: #9BC0F1;
  cursor: pointer;
}

@media (max-width: 800px) {

  .shopping-cart-item{
    flex-direction: row;
  }


 
}