.item-page-search-container {
  width: 50%;
  margin: 2% auto;
}



.item-page-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.item-container{
  padding: 1%;

}

#item-page-heading{
  font-size:3em;
}

