.item-container {
  padding: 1%;
  margin: auto 3%;
}

.item-page-search-container {
  width: 50%;
  margin: 2% auto;
}

#item-page-heading {
  font-size: 3em;
}

.item-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
