#shopping-container {
  align-items: center;
  margin: auto 5%;
}

.search-container {
  width: 45%;
  margin: 2% auto;
}

.category-heading {
  margin-bottom: 3%;
}

.category-heading h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

@media screen and (max-width: 576px) {
  .category-heading h4 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .categories {
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .search-container {
    width: 100%;
    margin: 8% auto;
  }
}
