.home-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../../assets/background.png);
  background-size: cover;
  z-index: 1;
}

.home-right {
  height: 300px;
  position: absolute;
  z-index: 2;
}

.home-right p {
  height: 40%;
  font-weight: 600;
  color: #46364a;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

@media screen and (min-width: 992px) {
  .home-right {
    width: 35%;
    top: 30%;
    left: 55%;
  }

  .home-right p {
    font-size: 1.8rem;
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .home-right {
    width: 60%;
    top: 30%;
    left: 20%;
  }

  .background-image {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  .home-right p {
    width: 80%;
    background-color: #e4e4e4;
    border-radius: 10px;
    font-size: 1.5rem;
  }
}
