
.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.item-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.item-card__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-card__button {
  background-color: #1B6EBB;
  padding:0.5em 1em 0.5em 1em;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  border:none;
  position:relative;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
  display:block;
  font:inter;
}

.item-card__button:hover {
  background-color: #0069d9;
  cursor: pointer;
}  



